.roundButton {
  background: #0057e7;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;

}

.roundButton div {
  padding-top: 6px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #0057e7;
  z-index: 10;
  height: 50px;
}

li {
  border-style: solid;
  border-color: gainsboro;
  border-width: 1px;
  height: 42px
}

ul li {
  display: block;
  position: relative;
  float: left;
  background: #0057e7;
  min-width: 100px;
}

li ul { display: none; }

ul li a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: black;
}

ul ul li{
  background: white;
  color: black;
}

/*ul li a:hover { background: #2c3e50; }*/

li:hover > ul {
  display: block;
  position: absolute;
}

li:hover li { float: none; }

.main-navigation li ul li { border-top: 0; }

ul ul ul {
  left: 100%;
  top: 0;
}

ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }
