<div *ngIf="selected.length == 0">
  <div class="roundButton"><div>+</div></div>
</div>
<div *ngIf="selected.length > 0">
  <!--<button [ngClass]="'btn'">{{ selected.length }} selected</button>-->

  <ul>
    <li> {{selected.length }} selected</li>
    <li *ngFor="let option of treeMenuOptions">
      <a >{{option.name}}</a>
      <ul>
        <li *ngFor="let child of option.children" (mouseover)="filterElements(child.children, searchFilter.value)">{{ child.name }}
          <ul>
            <li><input type="text" #searchFilter placeholder="Search" (input)="filterElements(child.children, searchFilter.value)"></li>
            <li *ngFor="let secondLevelChild of filteredItems">
              <a >{{ secondLevelChild.name }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

</div>

